@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Adresse et paiement";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    
    <h2>Adresse et paiement</h2>
    <fieldset>
        <legend>Informations d'envoie</legend>

        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Paiement</legend>
        <p>Nous avons une promotion: toute la musique est grauite avec le code de promo: "FREE"
        </p>

        <div class="editor-label">
            @Html.Label("Code Promo")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    
    <input type="submit" value="Soumettre" />
}